<div layout="col">
    <div><my-menu-bar /></div>
    <div class="md-padding">
        <a ng-show="!vm.showNewPost" ng-click="vm.showNewPost=!vm.showNewPost">New Post</a>
        <!-- {{vm.formmodel}} -->
        <div ng-show="vm.showNewPost">
            <form ng-submit="vm.onsubmit($event)" name="vm.inputform" novalidate>
                <formly-form model="vm.formmodel" fields="vm.formfields" options="vm.formoptions" form="vm.inputform">
                    <div layout="row" >
                        <div flex="50"><button  type="submit" class="btn btn-primary submit-button" ng-disabled="vm.inputform.$invalid">Go</button></div>
                        <div flex="50"><a ng-click="vm.showNewPost=!vm.showNewPost">Cancel</a></div>
                    </div>
                </formly-form>
            </form>
        </div>

        <md-input-container>
            <label><i class="fa fa-search"></i> Search</label>
            <input aria-label="search" ng-model="search">
        </md-input-container>
        <div ng-repeat="post in vm.market_posts| filter:search| orderBy:'-time'">
            {{post.image}}
            {{post.time}}
            {{post.status}}
            {{post.price}}
            {{post.description}}
            {{post.owner}}
            {{post.company}}
            {{post.phone}}
            {{post.email}}
        </div>

    </div>
</div>
